.title {
  background-color: #dcc2ff;
  color: #ffffff;
}

.top {
  display: flex;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
}

.container {
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-self: center;
}

.card {
  text-align: center;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  width: 300px;
  margin: 0 auto;
  height: 250px;
}

.card img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}
